/* .event-card {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 300px; Ensure minimum height */
/* 
.event-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.event-card h4 {
  margin-bottom: 10px;
}

.event-card p {
  margin: 5px 0;
} */
.highlight-event{
  border: 2px solid red !important;
  background-color: yellow !important;
}
/* Pomodoro app */
#clock {
  max-width: 500px;
  margin: auto;
  margin-top: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f8f9fa;
}

#clock h1 {
  text-align: center;
  margin-bottom: 20px;
}

#clock .length-controls {
  display: flex;
  justify-content: space-between;
}

#clock .length-controls > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock .length-controls h2 {
  margin-bottom: 10px;
}

#clock .length-controls button {
  margin: 5px;
}

#clock #timer {
  text-align: center;
  margin: 20px 0;
}

#clock #time-left {
  font-size: 48px;
  font-weight: bold;
}

#clock .controls {
  display: flex;
  justify-content: space-around;
}
#start_stop{
  margin: 5px;
}
#reset{
  margin: 5px;
}

/* custom styling for the calendar container */

.fc {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  min-width: 300px;
  margin:15px auto;
}
/* .fc-view-container{
  height: 600px;
  overflow-y: auto;
} */

/* Custom styles for calendar header */
.fc-toolbar {
  background-color: #007bff;
  color: white;
  border-radius: 8px 8px 0 0;
}
.fc-toolbar h2 {
  margin: 5px;
  padding: 5px;
  color: rgb(161, 42, 42);
  font-size: 20px;
}

/* Custom styles for calendar events */
.fc-event {
  color: white;
  border: none;
  border-radius: 4px;
}

.fc-button {
  background-color: #007bff;
  color: rgb(124, 11, 11);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  transition: background-color 0.3s;
}

/* Hover effect for events */
.fc-event:hover {
  background-color: #218838;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .fc-toolbar {
    flex-direction: column;
  }
}
